@font-face {
    font-family: Bombadier;
    src: url('BOMBARD_.otf');
}
body{
    background-color: #777;
    font-family: Bombadier,sans-serif;
}
header{
    height: 50px;
    font-size: 40px;
    text-align: center;
    margin: 0%;
}
footer{
    position: absolute;
    text-align: center;
    bottom: 0px;
    padding: 0px;
}
td{
    padding: 5px;
}
button{
    padding: 20px;
    margin: 10px;
}

#big{
    height: 50vh;
    font-size: 20px;
    padding: 50px;
}

#grad{
    width: auto;
    height: auto;
    float: right;
    padding: 50px;
}
.center{
    text-align: center;
    margin: auto;
}
p{
    border: 5px solid #000;
    width: 40%;
    
    background-color: rgba(105,105,105,0.7);
}
p[onclick]:hover{
    background-color: rgba(100, 200, 100 ,0.5);
}