@font-face {
    font-family: Bombadier;
    src: url('BOMBARD_.otf');
}
body{
    background-color: #777;
    font-family: Bombadier,sans-serif;
}
header{
    height: auto;
    font-size: 300%;
    text-align: center;
    margin: 0%;
}


#big{
    height: 100%;
    font-size: 135%;
    padding: 50px;
}

#grad{
    width: auto;
    height: auto;
    float: right;
    padding: 50px;
}
.center{
    text-align: center;
    margin: auto;
}
p{
    border: 5px solid #000;
    width: 40%;
    
    background-color: rgba(105,105,105,0.7);
}
p[onclick]:hover{
    background-color: rgba(100, 200, 100 ,0.5);
}
#pageButtons{
    
    text-align: center;
    position:fixed;
    width: 100%;
    bottom: 0;
}
button{
    background-color: rgba(105,105,105,0.7);
    border: 5px solid #000;
    font-family: Bombadier,sans-serif;
    font-size: 120%;
    padding: 1%;
    margin: 0.3%;
}
button:hover{
    background-color: rgba(100, 200, 100 ,0.9);
}